*{
    padding: 0%
    font-family: Arial, Helvetica, sans-serif
    border:border-box;
 font-size:1rem;

}
.navbar{
display: flex;
 
    margin-top:0.125vh;
  
 
   align-items: center;

   justify-content:space-between;

}
a{
    margin-left: 2%;
   text-decoration:none;
   font-size:0.8rem;
}
#logo {
    background-image: url("logo.png");
height:3vw;
   width: 3.2vw;
 margin-top:1vh;
   background-size:contain;
   background-repeat:no-repeat;
   border: 1px solid white;
   margin-left: 2%;
}


#navsearch {
    display:flex;
    justify-content: flex-end;
 width:28vw;
    border: 3px solid black;
   


}

#searchinput {
    color:black;
  align-items:center;
   height:100%;
 width:25vw;;
    font-size:1rem;
    border: none;
}

#searchicon {
    width: 4vw;
   height:2.9vw;
 margin-right:0.1px;
 
  padding-bottom:0.5vw;
 padding-left:1vw;
     align-items:center;
    font-size: 1.8rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}


.icons {
   
   justify-content: space-between;
   align-items: center;
   font-size: 15px;
   
    color: black;
}

#logo:hover,.icons:hover
 {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border:1.5px solid yellow

}
#banner{
    background-image: url("banner.jpg");
    width:100%;
    margin: 2px;
    margin-left: 10px;
    height:500px;
    background-size:cover;
   background-repeat:no-repeat;
}
h4,#sale{
   margin:2%;
   font-size:1.4rem;
    font-family:cursive
    
}
#products,#sales_products{
   display:flex;
   flex-wrap:wrap;
   height:30%;
   justify-content:space-around;
   
   
   
}
.item{
   height:500px;
   width:400px;
    background-size:contain;
   background-repeat:no-repeat;
   
   
   
}

 
 #panel1{
    background-color: darkcyan;
    color:white;
  height:40px;
    justify-content: center;
    align-items: center;

 }
 footer {
     margin-top: 15px;
 }
 
 .panel1 {
     background-color: #37475a;
     height: 4vw;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 0.85rem;
 
 }
 
 .panel2 {
     display: flex;
     justify-content: space-around;
     background-color: #222f3d;
     color: white;
     height: 22vw;
 }
 
 .about {
     display: flex;
     flex-direction: column;
     font-size: 0.85rem;
     margin-top: 8px;
     color: #dddddd;
     margin-top: 10px;
 }
 
 .about p {
     color: blue;
 }
 
 
 .panel4 {
  margin-top:2px;
     background-color: #0f1111;
     color: white;
     /* display: flex;
     justify-content: center;
     align-items: center; */
     height: 6vw;
     text-align: center;
 }
 
 .pages {
     font-size: 0.75rem;
     padding: 2px;
 }
 
 .copyright {
     font-size: 0.75rem;
     padding: 5px;
 }


